.category {
  width: 80%;
  max-width:310px;
  height: 80px;
  margin: 3% 4% 3% 4%;
  padding: 4% 3% 0% 5%;
  border-radius: 10px;
  background-color: #40d0e3;
  justify-content: center;
}

.button{
  border: none;
  font-family: NanumGothic;
  font-size: 80px;
  font-weight: bold;
  text-align: right;
  color: #ffffffcc;
  margin-top: -20%;
  margin-right: 5%;
  padding: -100% -100% -100% -100%;
}

.button2{
  border: none;
  font-family: NanumGothic;
  font-size: 80px;
  font-weight: bold;
  text-align: right;
  color: #ffffffcc;
  margin-left: 10%;
  margin-top: -20%;
  margin-right: 5%;
  padding: -100% -100% -100% -100%;
}

.button3{
  border: none;
  font-family: NanumGothic;
  font-size: 80px;
  font-weight: bold;
  text-align: right;
  color: #ffffffcc;
  margin-left: 5%;
  margin-top: -20%;
  margin-right: 5%;
  padding: -100% -100% -100% -100%;
}