<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Categories</title>
    
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');
        if (id == "") {
            location.href = "/";
        }
        function goMain(){
            const link = "/home?id=" + id;
            location.href = link;
        }

        function goWash(){
            const link = "/wash?id=" + id;
            location.href = link;
        }
        function goMedicine(){
            const link = "/medicine?id=" + id;
            location.href = link;
        }
        function goSleep(){
            const link = "/sleep?id=" + id;
            location.href = link;
        }
        function goMeal(){
            const link = "/meal?id=" + id;
            location.href = link;
        }
        function goActivity(){
            const link = "/activity?id=" + id;
            location.href = link;
        }
    </script>
    <link rel="stylesheet" href="static/categories.css">
    <style>
        h2 {
            font-family: Noto-Sans;
            display: inline-block;
            font-size: 105%;
            text-align: left;
            margin-top: 0%;
            color: rgb(44, 12, 0);
        }

        a {
            margin-left: 50%;
            margin-right: 0%;
            text-align: right;
        }
        .title {
            color: #4f2f00;
            font-weight: bold;
            font-size: 20px;
        }

        .gray {
            width: 100%-40px;
            border-radius: 10px;
            background-color: rgba(196, 196, 196, 0.17);
            display: block;
            text-align: left;
            color: #4f2f00;
            font-size: 20px;
            padding: 20px;

        }

        .score {
            width: 100%;
            border-radius: 10px;
            display: block;
            text-align: left;
            color: #ffffff;
            font-size: 40px;
            padding: 20px;

        }

        .big_margin {
            margin: 20px 0 0 0;
        }

        .margin {
            margin: 10px 0 0 0;
        }

        .bold {
            font-weight: bold;
        }

    </style>



</head>

<body>
    <div class="header_wrapper">
        <div class="header">
            <img src="static/back.png" width="40" onclick="goMain()" class="button">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40">
            </a>
            <img width="40"></img>
        </div>
    </div>
    <div class="container_wrapper">
        <div class="container">
            <div class="gray margin" style="display: flex; align-items: start; justify-content: center;" onclick="goSleep()" id="bg_color">
                <div class="bold">취침시간</div>
                <div class="score" id="sleep"></div>
            </div>

            <div class="gray margin" style="display: flex; align-items: start; justify-content: center;" onclick="goMeal()" id="bg_color">
                <div class="bold">식사시간</div>
                <div class="score" id="meal"></div>
            </div>

            <div class="gray margin" style="display: flex; align-items: start; justify-content: center;" onclick="goMedicine()" id="bg_color">
                <div class="bold">투약시간</div>
                <div class="score" id="sleep"></div>
            </div>

            <div class="gray margin" style="display: flex; align-items: start; justify-content: center;" onclick="goWash()" id="bg_color">
                <div class="bold">청결도</div>
                <div class="score" id="sleep"></div>
            </div>

            <div class="gray margin" style="display: flex; align-items: start; justify-content: center;" onclick="goActivity()" id="bg_color">
                <div class="bold">외부활동성</div>
                <div class="score" id="sleep"></div>
            </div>

        </div>
    </div>
    <script>
        function getCategories(){
            $.ajax({
                type:"GET",
                url:"/get_categories",
                data:{},
                success: function (response){
                    if (response['result'] === 'success') {
                        const bg_color = document.getElementById("bg_color");

                        const meal = response['meal'];
                        const sleep = response['sleep'];
                        const med= response['med'];
                        const wash = response['wash'];
                        const activity = response['activity'];

                        $('#sleep').append(`${sleep}`);
                        $('#meal').append(`${meal}`);
                        $('#med').append(`${med}`);
                        $('#wash').append(`${wash}`);
                        $('#activity').append(`${activity}`);

                        if (meal == 'A') {
                            bg_color.style.backgroundColor = "#40D0E3";
                        } else if (meal == 'B') {
                            bg_color.style.backgroundColor = "#FFBC10";
                        } else if (meal == 'C') {
                            bg_color.style.backgroundColor = "#FF4D4D";
                        } else {
                            bg_color.style.backgroundColor = "#ffffff";
                        }

                        if (sleep == 'A') {
                            bg_color.style.backgroundColor = "#40D0E3";
                        } else if (sleep == 'B') {
                            bg_color.style.backgroundColor = "#FFBC10";
                        } else if (sleep == 'C') {
                            bg_color.style.backgroundColor = "#FF4D4D";
                        } else {
                            bg_color.style.backgroundColor = "#ffffff";
                        }

                        if (med == 'A') {
                            bg_color.style.backgroundColor = "#40D0E3";
                        } else if (med == 'B') {
                            bg_color.style.backgroundColor = "#FFBC10";
                        } else if (med == 'C') {
                            bg_color.style.backgroundColor = "#FF4D4D";
                        } else {
                            bg_color.style.backgroundColor = "#ffffff";
                        }

                        if (wash == 'A') {
                            bg_color.style.backgroundColor = "#40D0E3";
                        } else if (wash == 'B') {
                            bg_color.style.backgroundColor = "#FFBC10";
                        } else if (wash == 'C') {
                            bg_color.style.backgroundColor = "#FF4D4D";
                        } else {
                            bg_color.style.backgroundColor = "#ffffff";
                        }

                        if (activity == 'A') {
                            bg_color.style.backgroundColor = "#40D0E3";
                        } else if (activity == 'B') {
                            bg_color.style.backgroundColor = "#FFBC10";
                        } else if (activity == 'C') {
                            bg_color.style.backgroundColor = "#FF4D4D";
                        } else {
                            bg_color.style.backgroundColor = "#ffffff";
                        }



                    } else {
                        alert('정보를 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
        
    </script>
</body>

</html>