<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Categories</title>
    
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');
        if (id == "") {
            location.href = "/";
        }
        function goMain(){
            const link = "/home?id=" + id;
            location.href = link;
        }

        function goWash(){
            const link = "/wash?id=" + id;
            location.href = link;
        }
        function goMedicine(){
            const link = "/medicine?id=" + id;
            location.href = link;
        }
        function goSleep(){
            const link = "/sleep?id=" + id;
            location.href = link;
        }
        function goMeal(){
            const link = "/meal?id=" + id;
            location.href = link;
        }
        function goActivity(){
            const link = "/activity?id=" + id;
            location.href = link;
        }
        function search(id) {
                $.ajax({
                    type: "GET",
                    url: "/find",
                    data: { id: id },
                    success: function (response) {
                        if (response['ids'] == true) {
                            console.log('okay');
                        } else {
                            alert('존재하지 않는 아이디입니다.');
                            location.href = "/";
                        }
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
        }
        window.onload=search(id);
    </script>
 
    <style>
        .title {
            color: #4f2f00;
            font-weight: bold;
            font-size: 20px;
        }

        .category {
            width: 100%-40px;
            border-radius: 10px;
            background-color: rgb(255, 230, 147);
            display: block;
            
            padding: 20px;

        }

        .title{
            width: 30%;
            display: block;
            text-align: left;
            color: #4f2f00;
            font-size: 18px;
        }

        .score {
            width: 100%;
            display: block;
            text-align: right;
            color: #ffffff;
            font-size: 52px;
            padding: 0px;

        }

        .big_margin {
            margin: 20px 0 0 0;
        }

        .margin {
            margin: 10px 10px 0 10px;
        }

        .bold {
            font-weight: bold;
        }

    </style>



</head>

<body>
    <div class="header_wrapper">
        <div class="header">
            <img src="static/back.png" width="40" onclick="goMain()" class="button">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40">
            </a>
            <img width="40"></img>
        </div>
    </div>
    <div class="container_wrapper">
        <div class="container">
            <div class="category margin" style="display: flex; align-items: start; justify-content: center;" onclick="goSleep()" id="grade1">
                <div class="bold title">취침시간</div>
                <div class="bold score" id="sleepGrade"></div>
            </div>

            <div class="category margin" style="display: flex; align-items: start; justify-content: center;" onclick="goMeal()" id="grade2">
                <div class="bold title">식사시간</div>
                <div class="bold score" id="mealGrade"></div>
            </div>

            <div class="category margin" style="display: flex; align-items: start; justify-content: center;" onclick="goMedicine()" id="grade3">
                <div class="bold title">투약시간</div>
                <div class="bold score" id="medGrade"></div>
            </div>

            <div class="category margin" style="display: flex; align-items: start; justify-content: center;" onclick="goWash()" id="grade4">
                <div class="bold title">청결도</div>
                <div class="bold score" id="washGrade"></div>
            </div>

            <div class="category margin" style="display: flex; align-items: start; justify-content: center;" onclick="goActivity()" id="grade5">
                <div class="bold title">외부활동성</div>
                <div class="bold score" id="actGrade"></div>
            </div>

        </div>
    </div>
    <script>
        function getCategories(){
            $.ajax({
                type:"GET",
                url:"/get_categories",
                data:{ id : id },
                success: function (response){
                    console.log(response);
                    if (response['result'] == 'success') {

                        const meal = response['meal'];
                        const sleep = response['sleep'];
                        const med= response['med'];
                        const wash = response['wash'];
                        const activity = response['activity'];
                        
                        $('#medGrade').append(`${med}`);
                        $('#washGrade').append(`${wash}`);
                        $('#actGrade').append(`${activity}`);

                        var sleep_grade = "";
                        if(sleep <= 1){
                            sleep_grade = "C";
                            grade1.style.backgroundColor = "#FF4D4D";
                        }else if(sleep <= 3){
                            sleep_grade = "B";
                            grade1.style.backgroundColor = "#FFBC10";
                        }else if(sleep <= 5){
                            sleep_grade = "A";
                            grade1.style.backgroundColor = "#40D0E3";
                        }else{
                            sleep_grade = "C";
                            grade1.style.backgroundColor = "#ffffff";
                        }
                        $('#sleepGrade').append(`${sleep_grade}`);
                        
                        var meal_grade = "";
                        if(meal <= 2){
                            meal_grade = "C";
                            grade2.style.backgroundColor = "#FF4D4D";
                        }else if(meal <= 5){
                            meal_grade = "B";
                            grade2.style.backgroundColor = "#FFBC10";
                        }else if(meal <= 8){
                            meal_grade = "A";
                            grade2.style.backgroundColor = "#40D0E3";
                        }else{
                            meal_grade = "C";
                            grade2.style.backgroundColor = "#ffffff";
                        }
                        $('#mealGrade').append(`${meal_grade}`);


                        const grade3 = document.getElementById("grade3");

                        if (med == 'A') {
                            grade3.style.backgroundColor = "#40D0E3";
                        } else if (med == 'B') {
                            grade3.style.backgroundColor = "#FFBC10";
                        } else if (med == 'C') {
                            grade3.style.backgroundColor = "#FF4D4D";
                        } else {
                            grade3.style.backgroundColor = "#FF4D4D";
                        }

                        const grade4 = document.getElementById("grade4");

                        if (wash == 'A') {
                            grade4.style.backgroundColor = "#40D0E3";
                        } else if (wash == 'B') {
                            grade4.style.backgroundColor = "#FFBC10";
                        } else if (wash == 'C') {
                            grade4.style.backgroundColor = "#FF4D4D";
                        } else {
                            grade4.style.backgroundColor = "#ffffff";
                        }
                        const grade5 = document.getElementById("grade5");
                        if (activity == 'A') {
                            grade5.style.backgroundColor = "#40D0E3";
                        } else if (activity == 'B') {
                            grade5.style.backgroundColor = "#FFBC10";
                        } else if (activity == 'C') {
                            grade5.style.backgroundColor = "#FF4D4D";
                        } else {
                            grade5.style.backgroundColor = "#ffffff";
                        }



                    } else {
                        alert('정보를 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
        
        window.onload = getCategories();
    </script>
</body>

</html>