<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Categories</title>
    
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');
        if (id == "") {
            location.href = "/";
        }
        function goMain(){
            const link = "/home?id=" + id;
            location.href = link;
        }

        function goWash(){
            const link = "/wash?id=" + id;
            location.href = link;
        }
        function goMedicine(){
            const link = "/medicine?id=" + id;
            location.href = link;
        }
        function goSleep(){
            const link = "/sleep?id=" + id;
            location.href = link;
        }
        function goMeal(){
            const link = "/meal?id=" + id;
            location.href = link;
        }
        function goActivity(){
            const link = "/activity?id=" + id;
            location.href = link;
        }
    </script>
    <link rel="stylesheet" href="static/categories.css">
    <style>
        h2 {
            font-family: Noto-Sans;
            display: inline-block;
            font-size: 105%;
            text-align: left;
            margin-top: 0%;
            color: rgb(44, 12, 0);
        }

        a {
            margin-left: 50%;
            margin-right: 0%;
            text-align: right;
        }

    </style>
</head>

<body>
    <div class="header_wrapper">
        <div class="header">
            <img src="static/back.png" width="40" onclick="goMain()" class="button">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40">
            </a>
            <img width="40"></img>
        </div>
    </div>
    <div class="container_wrapper">
        <div class="container">
            <div class="category" onclick="goSleep()">
                <h2>취침시간</h2>
                <div class="button"><a>A</a></div>
            </div>
            <div class="category" onclick="goMeal()">
                <h2>식사시간</h2>
                <div class="button"><a>A</a></div>
            </div>
            <div class="category" onclick="goMedicine()">
                <h2>투약시간</h2>
                <div class="button"><a>A</a></div>
            </div>
            <div class="category" onclick="goWash()">
                <h2>청결도</h2>
                <div class="button"><a>A</a></div>
            </div>
            <div class="category" onclick="goActivity()">
                <h2>외부활동성</h2>
                <div class="button"><a>A</a></div>
            </div>
        </div>
    </div>
    <script>
        function getHello() {
            $.ajax({
                type: "GET",
                url: "/hello",
                data: {},
                success: function (response) {
                    if (response['result'] === 'success') {
                        console.log(response);
                        const hello = response['hello'];
                        alert(hello);
                        $('#box').append(`<h6>${hello}<h6>`);
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    </script>
</body>

</html>