<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Friendship</title>
    <link rel="stylesheet" href="static/Friendship.css">
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');
        if (id == "") {
            location.href = "/";
        }
        function goMain(){
            const link = "/home?id=" + id;
            location.href = link;
        }
    </script>
</head>

<body>
    <style>
        img {
            margin-right: 0%;
            margin-bottom: 0%;
            display: inline;
            object-fit: scale-down;
        }

        h2 {
            font-family: NanumGothic;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            margin-top: 15px;
            margin-bottom: 0;
            margin-right: 0%;
        }

        p {
            font-family: NanumGothic;
            font-size: 50px;
            font-weight: normal;
            letter-spacing: -5px;
            text-align: right;
            color: var(--grapefruit);
            margin: 0px;
            margin-right: 5px;
        }

        span {
            display: inline;
            margin: 0%;
        }
    </style>
    <div class="header_wrapper">
        <div class="header">
            <img src="static/back.png" width="40" onclick="goMain()" class="button">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40">
            </a>
            <img width="40"></img>
        </div>
    </div>
    <div class="container_wrapper">
        <div class="container">
            <div class="title center_display" onclick="getFriend()">
                <span>순이와의 소통지수</span>
            </div>

            <div class="total clearfix">
                <img src="../static/soon_1.png" alt="순이얼굴" justify-content="center_display" display="center_display" width="90%">
            </div>

            <div class="totalCategories">
                <h2 style="color: #4f2f00;"><span>응답빈도</span></h2>
                <p style="color: #ff4d4d;"><strong>10 </strong><span style="color: #4f2f00;"> / 15</span></p>
            </div>

            <div class="totalCategories">
                <h2 style="color: #4f2f00;">응답길이</h2>
                <p style="color: #ff4d4d;"><strong>12 </strong><span style="color: #4f2f00;"> / 15</span></p>
            </div>

            <div class="totalCategories">
                <h2 style="color: #4f2f00;">대화참여도</h2>
                <p style="color: #ff4d4d;"><strong>5 </strong><span style="color: #4f2f00;"> / 8</span></p>
            </div>
        </div>
    </div>
    <script>
        function getHello() {
            $.ajax({
                type: "GET",
                url: "/hello",
                data: {},
                success: function (response) {
                    if (response['result'] === 'success') {
                        console.log(response);
                        const hello = response['hello'];
                        alert(hello);
                        // $('#box').append(`<h6>${hello}<h6>`);
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
        function getFriend() {
            $.ajax({
                type: "GET",
                url: "/friends",
                data: {id:id},
                success: function (response) {
                    if (response['result'] === 'success') {
                        console.log(response);
                        const hello = response['hello'];
                        alert(hello);
                        // $('#box').append(`<h6>${hello}<h6>`);
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    </script>
</body>

</html>