<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Friendship</title>
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');
        if (id == "") {
            location.href = "/";
        }
        function goMain() {
            const link = "/home?id=" + id;
            location.href = link;
        }
        function search(id) {
                $.ajax({
                    type: "GET",
                    url: "/find",
                    data: { id: id },
                    success: function (response) {
                        if (response['ids'] == true) {
                            console.log('okay');
                        } else {
                            alert('존재하지 않는 아이디입니다.');
                            location.href = "/";
                        }
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
        }
        window.onload=search(id);
    </script>
</head>

<body>
    <style>
        .title {
            color: #4f2f00;
            font-weight: bold;
            font-size: 20px;
        }

        .gray {
            width: 100% - 40px;
            border-radius: 10px;
            background-color: #F4E5CD;
            display: block;
            text-align: center;
            color: #4f2f00;
            font-size: 18px;
            padding: 20px;
            border-top: 1px solid #4f2f00;
        }

        .white {
            width: 100% - 40px;
            border-radius: 10px;
            background-color: #ffffff;
            display: block;
            text-align: center;
            color: #4f2f00;
            font-size: 20px;
            padding: 20px;
        }

        .score {
            font-size: 40px;
            font-weight: bold;
        }

        .big_margin {
            margin: 20px 0 0 0;
        }

        .margin {
            margin: 10px 0 0 0;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="header_wrapper">
        <div class="header">
            <img src="static/back.png" width="40" onclick="goMain()" class="button">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40">
            </a>
            <img width="40"></img>
        </div>
    </div>
    <div class="center_display"
        style="width: 100%; display: block; text-align: center; padding: 20px 0; background-color: #FFF4D9;">
        <div style="color: #4f2f00; font-weight: bold; font-size: 30px;">순이와의 소통지수</div>
        <div id="grade_div"></div>
        <div style="color: #4f2f00; font-weight: bold; font-size: 20px;" id="score"></div>
    </div>
    <div class="container_wrapper" style="background-color: white;">
        <div class="container">
            <div style="padding:0 20px">
                <div class="title big_margin" onclick="getWash()">
                    응답 빈도
                </div>
                <div class="white margin center_display">
                    <div class="score" id="score1"></div>
                    <div id="detail_score1">

                    </div>
                </div>
                <div class="gray margin" id="ment_score1">

                </div>
                <div class="title big_margin" onclick="getWash()">
                    응답 길이
                </div>
                <div class="white margin">
                    <div class="score" id="score2"></div>
                    <div id="detail_score2"></div>
                </div>
                <div class="gray margin" id="ment_score2">

                </div>
                <div class="title big_margin" onclick="getWash()">
                    대화참여도
                </div>
                <div class="white margin">
                    <div class="score" id="score3"></div>
                    <div id="detail_score3"></div>
                </div>
                <div class="gray margin">
                    <div style="text-align: left; display: flex;">
                        <div>
                            <div class="bold">프로그램 참여</div>
                            <div class="bold">순이 대화 비중</div>
                        </div>
                        <div style="margin-left: 20px;">
                            <div id="count_program"></div>
                            <div id="percent_program"></div>
                        </div>
                    </div>
                    <div style="margin-top:30px;">전체 프로그램 참여</div>
                    <div style="display: flex; justify-content: center; align-items: center; margin:20px 0" id="round_graph">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        function getFriend() {
            $.ajax({
                type: "GET",
                url: "/friends",
                data: { id: id },
                success: function (response) {
                    if (response['result'] === 'success') {
                        console.log(response);
                        const score = parseInt(response['score_friendship']/12*100);
                        const len = parseInt(response['fb_len_resp']/30*100);
                        const freq = parseInt(response['fb_freq_resp']/30*100);
                        const program = parseInt(response['fb_program']/8*100);
                        const len_resp = parseInt(response['len_resp']);

                        const freq_resp1 = parseInt(response['freq_resp1']*100);
                        const freq_resp2 = parseInt(response['freq_resp2']*100);
                        const freq_resp3 = parseInt(response['freq_resp3']*100);

                        const count_program = response['program'];
                        const percent_program = parseInt(response['prop_program']);
                        
                        $('#detail_score1').append(`${freq} / 100`);
                        $('#detail_score2').append(`${len} / 100`);
                        $('#detail_score3').append(`${program} / 100`);

                        $('#ment_score1').append(`<div>첫번째 메시지는 ${freq_resp1}%로 답해주셨어요</div>`);
                        $('#ment_score1').append(`<div style="margin-top:10px;">두번째 메시지는 ${freq_resp2}%로 답해주셨어요</div>`);
                        $('#ment_score1').append(`<div style="margin-top:10px;">세번째 메시지는 ${freq_resp3}%로 답해주셨어요</div>`);

                        $('#ment_score2').append(`평균 총 ${len_resp}자로 답해주셨어요! 고마워요!`);

                        $('#count_program').append(`${count_program}회`);
                        $('#percent_program').append(`${percent_program}%`);

                        $('#round_graph').append(`<div style="width: 170px; height: 170px; border-radius: 50%; background: conic-gradient(#FFBC10 0% ${percent_program}%, #4FE49D ${percent_program}% 100%);"></div>`);

                        if (freq >= 11) {
                            $('#score1').append(`A`);
                            score1.style.color = "#40D0E3";

                        } else if (11 > freq >= 6) {
                            $('#score1').append(`B`);
                            score1.style.color = "#FFBC10";
                        } else {
                            $('#score1').append(`C`);
                            score1.style.color = "#FF4D4D";
                        }

                        if (len >= 11) {
                            $('#score2').append(`A`);
                            score2.style.color = "#40D0E3";
                        } else if (11 > len >= 6) {
                            $('#score2').append(`B`);
                            score2.style.color = "#FFBC10";
                        } else {
                            $('#score2').append(`C`);
                            score2.style.color = "#FF4D4D";
                        }

                        if (program >= 6) {
                            $('#score3').append(`A`);
                            score3.style.color = "#40D0E3";
                        } else if (6 > program >= 3) {
                            $('#score3').append(`B`);
                            score3.style.color = "#FFBC10";
                        } else {
                            $('#score3').append(`C`);
                            score3.style.color = "#FF4D4D";
                        }

                        if (score >= 7) {
                            $('#grade_div').append(`<img src="../static/A.png" alt="순이얼굴" style="width:180px;">`);
                        } else if (7 > score >= 3) {
                            $('#grade_div').append(`<img src="../static/B.png" alt="순이얼굴" style="width:180px;">`);
                        } else {
                            $('#grade_div').append(`<img src="../static/C.png" alt="순이얼굴" style="width:180px;">`);
                        }
                        $('#score').append(`100점 만점에 ${score}점`);
                        console.log(response);
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
        window.onload = getFriend();
    </script>
</body>

</html>