<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Main</title>
    <style>
    </style>
</head>

<body>
    <div class="header_wrapper">
        <div class="header" style="align-items: center; justify-content: center;">
            <a class="center_display" href="/">
                <img src="static/logo.png" height="40"/>
            </a>
        </div>
    </div>
    <div class="container_wrapper" style="background-color: #ffffff;">
        <div class="container center_display" style="background-color: #ffffff;">
            <div style="width: 100%; height:500px; border-radius:10px; margin: 10px; background-color: #ffbc10; display:block; text-align: center; padding: 30px 0;">
                <div style="color: #4f2f00; font-size: 30px; margin: 10px 0 0 0;">인순이님!</div>
                <div style="color: #ffffff; font-weight: bold; font-size: 40px; margin: 10px 0 0 0;">잘하고<br/>있어요!</div>
                <img src="static/soon_round.png" width="200" height="200"/>
                <div class="center_display" style="margin: 10px 0 0 0;">
                    <div style="color: #4f2f00; font-weight: bold; font-size: 60px;">56</div>
                    <div style="color: #ffffff; font-weight: bold; font-size: 50px;">점</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a>
            <div style="width: 10px; height: 10px; border-radius: 5px; background-color: C4C4C4;"></div>
        </a>
        <div></div>
        <div></div>
    </div>
    <script>
        function getHello() {
            $.ajax({
                type: "GET",
                url: "/hello",
                data: {},
                success: function (response) {
                    if (response['result'] === 'success') {
                        console.log(response);
                        const hello = response['hello'];
                        alert(hello);
                        $('#box').append(`<h6>${hello}<h6>`);
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    </script>
</body>

</html>