<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <title>Main</title>
    <style>
        button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;

            border-radius: 10px;

            width: 80%;
            height: 40px;
            margin: 10px 0px;

            font-weight: bold;
            font-size: 20px;

            background-color: #ffbc10;
            color: #4f2f00;

            cursor: pointer;
        }

        div {
            color: #4f2f00;
        }
    </style>
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');

        if (id == "") {
            location.href = "/";
        }

        window.onload = () => $('#name').append(`${id}님`);

        function goFriendship() {
            const link = "/friendship?id=" + id;
            location.href = link;
        }
        function goStatus() {
            const link = "/categories?id=" + id;
            location.href = link;
        }
        function goMain() {
            const link = "/home?id=" + id;
            location.href = link;
        }
        function emergencyOff(){
            const alert_wrapper = document.getElementById("alert_wrapper");
            alert_wrapper.style.display = "none";
            const alert = document.getElementById("alert");
            alert.style.display = "none";
        }
        function emergencyOn(){
            const alert_wrapper = document.getElementById("alert_wrapper");
            alert_wrapper.style.display = "block";
            const alert = document.getElementById("alert");
            alert.style.display = "flex";
        }
        function emergencyAlert(){
            alert('응급 요청');
        }
    </script>
</head>

<body>

    <div id="alert_wrapper" style="position: fixed; z-index: 2; background-color: black; opacity: 20%; width: 100%; height: 100%; display: none;"></div>
    <div class="header_wrapper">
        <div class="header" style="align-items: center; justify-content: center;">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40" />
            </a>
        </div>
    </div>
    <div class="container_wrapper" style="background-color: #ffffff;">
        <div class="container" style="background-color: #ffffff; text-align: center;">
            <div
                id="alert" style="position:fixed; top:0; left:0; z-index:5; width: 100%; height:100%; text-align: center; display: none; align-items: center; justify-content: center;">
                <div style="background-color: #ffffff; width: 300px; border-radius: 10px;">
                    <div style="text-align: center; gap:10px; padding: 20px 0;">
                        <div style="font-weight: bold; font-size: 30px;">경고!</div>
                        <img src="static/alert.png" style="width: 30%; margin: 0 35%;">
                        <div style="font-weight: bold; font-size: 20px;">하루 이상의 부동</div>
                        <button onclick="emergencyOff()">확인</button>
                        <button style="background-color: #FF4D4D;" onclick="emergencyOff(), emergencyAlert()">응급 상황</button>
                    </div>
                </div>
            </div>
            <div style="width: 95%; margin:0 2.5%; height:500px; border-radius:10px; background-color: #ffbc10; display:block; text-align: center; padding: 30px 0;"
                onclick="goStatus()">
                <div style="color: #4f2f00; font-size: 30px; margin: 10px 0 0 0;" id="name">
                </div>
                <div style="color: #ffffff; font-weight: bold; font-size: 40px; margin: 10px 0 0 0;">잘하고<br />있어요!</div>
                <img src="static/soon_round.png" width="200" height="200" />
                <div class="center_display" style="margin: 10px 0 0 0;">
                    <div style="color: #4f2f00; font-weight: bold; font-size: 60px;">56</div>
                    <div style="color: #ffffff; font-weight: bold; font-size: 50px;">점</div>
                </div>
            </div>
            <div
                style="width: 95%; margin:20px 2.5%; height:80px; border-radius:10px; display: flex; align-items: center; color: #4f2f00; font-weight: bold; font-size: 20px;">
                <div class="center_display button"
                    style="border-radius:10px; background-color: #ffbc10; width: 48%; height: 100%; margin-right:2%; color: #4f2f00; font-weight: bold; font-size: 20px;"
                    onclick="goFriendship()">
                    &lt;&lt;순이 친밀도 </div>
                <div class="center_display button"
                    style="border-radius:10px; background-color: #ffbc10; width: 48%; height: 100%; margin-left:2%;"
                    onclick="goStatus()">
                    상태 확인&gt;&gt;
                </div>
            </div>
        </div>
    </div>
    <div>
        <a>
            <div style="width: 10px; height: 10px; border-radius: 5px; background-color: C4C4C4;"></div>
        </a>
        <div></div>
        <div></div>
    </div>
    <script>
        window.onload = getEmergency();
        function getEmergency() {
            $.ajax({
                type: "GET",
                url: "/alert",
                data: { id: id },
                success: function (response) {
                    if (response['result'] === 'success') {
                        if(response['emergency']==true){
                            emergencyOn();
                        }
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }

        function getHello() {
            $.ajax({
                type: "GET",
                url: "/hello",
                data: {},
                success: function (response) {
                    if (response['result'] === 'success') {
                        console.log(response);
                        const hello = response['hello'];
                        alert(hello);
                        $('#box').append(`<h6>${hello}<h6>`);
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    </script>
</body>

</html>