<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Meal</title>
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');
        if (id == "") {
            location.href = "/";
        }
        function goMain() {
            const link = "/home?id=" + id;
            location.href = link;
        }
        function goCategories() {
            const link = "/categories?id=" + id;
            location.href = link;
        }
        function search(id) {
                $.ajax({
                    type: "GET",
                    url: "/find",
                    data: { id: id },
                    success: function (response) {
                        if (response['ids'] == true) {
                            console.log('okay');
                        } else {
                            alert('존재하지 않는 아이디입니다.');
                            location.href = "/";
                        }
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
        }
        window.onload=search(id);
    </script>
    <style>
        .title {
            color: #4f2f00;
            font-weight: bold;
            font-size: 20px;
        }
        .semi_title {
            color: #4f2f00;
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        .gray {
            width: 100%-40px;
            border-radius: 10px;
            background-color: rgba(196, 196, 196, 0.17);
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #4f2f00;
            font-size: 20px;
            padding: 20px;
        }

        .yellow {
            width: 100%;
            border-radius: 10px;
            background-color: rgba(255, 188, 16, 0.2);
            display: block;
            text-align: left;
            color: #4f2f00;
            font-size: 20px;
            padding: 20px;

        }

        .big_margin {
            margin: 20px 0 0 0;
        }

        .margin {
            margin: 10px 0 0 0;
        }

        .bold {
            font-weight: bold;
        }
        .right {
            font-weight: bold;
        }
        .left {
            font-weight: bold;
            font-size:30px;
        }
    </style>
</head>

<body>
    <div class="header_wrapper">
        <div class="header">
            <img src="static/back.png" width="40" onclick="goCategories()" class="button">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40">
            </a>
            <img width="40"></img>
        </div>
    </div>
    <div class="center_display"
        style="width: 100%; background-color: #40D0E3; display: block; text-align: center; padding: 20px 0;"
        id="grade_div">
        <div style="color: #4f2f00; font-weight: bold; font-size: 30px;">식사시간</div>
        <div style="color: #ffffff; font-weight: bold; font-size: 100px;" id="grade"></div>
    </div>
    <div class="container_wrapper" style="background-color: white;">
        <div class="container">
            <div style="padding:0 20px">
                <div class="title big_margin">
                    식사 횟수
                </div>
                <div class="big_margin" style="display: flex; align-items: start; justify-content: center;">
                    <div style="margin: 0 10px;"><img src="static/soon_round.png" width="50px" /></div>
                    <div class="yellow" id="fb_num_meal">
                    </div>
                </div>
                <div class="title big_margin">
                    식사 시각
                </div>
                <div class="semi_title big_margin">
                    <div style="width: 8px; height: 8px; border-radius: 50%; background-color: #FFBC10; margin-right: 5px;"></div>아침
                </div>
                <div class="gray margin">
                    <div>
                        <div class="bold" id="avg_time_bf">
                        </div>
                        <div>
                            권장 시각 06시 - 08시
                        </div>
                    </div>
                    <div id="fb_time_bf" class="left">
                    </div>
                </div>
                <div class="semi_title big_margin">
                    <div style="width: 8px; height: 8px; border-radius: 50%; background-color: #FFBC10; margin-right: 5px;"></div>점심
                </div>
                <div class="gray margin">
                    <div>
                        <div class="bold" id="avg_time_lun">
                        </div>
                        <div>
                            권장 시각 11시 - 13시
                        </div>
                    </div>
                    <div id="fb_time_lun" class="left">
                    </div>
                </div>
                <div class="semi_title big_margin">
                    <div style="width: 8px; height: 8px; border-radius: 50%; background-color: #FFBC10; margin-right: 5px;"></div>저녁
                </div>
                <div class="gray margin">
                    <div>
                        <div class="bold" id="avg_time_din">
                        </div>
                        <div>
                            권장 시각 17시 19시
                        </div>
                    </div>
                    <div id="fb_time_din" class="left">
                    </div>
                </div>
                <div class="title big_margin">
                    식사 규칙성
                </div>
                <div class="big_margin" style="display: flex; align-items: start; justify-content: center;">
                    <div style="margin: 0 10px;"><img src="static/soon_round.png" width="50px" /></div>
                    <div class="yellow" id="fb_rg_meal">
                    </div>
                </div>
                <div class="title big_margin">
                    간식, 야식, 간편식
                </div>
                <div class="big_margin" style="display: flex; align-items: start; justify-content: center;">
                    <div style="margin: 0 10px;"><img src="static/soon_round.png" width="50px" /></div>
                    <div class="yellow" id="fb_snack_and_fastfood">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getMeal() {
            $.ajax({
                type: "GET",
                url: "/get_meal",
                data: { id: id },
                success: function (response) {
                    console.log(response);
                    if (response['availableID'] == true) {
                        // const link = "/meal?id=" + id;
                        // location.href = link;
                        var score_meal = response['score_meal'];
                        var avg_time_bf = response['avg_time_bf'];
                        var avg_time_lun = response['avg_time_lun'];
                        var avg_time_din = response['avg_time_din'];
                        var fb_num_bf = response['fb_num_bf'];
                        var fb_num_lun = response['fb_num_lun'];
                        var fb_num_din = response['fb_num_din'];
                        var fb_time_bf_early = response['fb_time_bf_early'];
                        var fb_time_bf_late = response['fb_time_bf_late'];
                        var fb_time_lun_early = response['fb_time_lun_early'];
                        var fb_time_lun_late = response['fb_time_lun_late'];
                        var fb_time_din_early = response['fb_time_din_early'];
                        var fb_time_din_late = response['fb_time_din_late'];
                        var fb_rg_bf = response['fb_rg_bf'];
                        var fb_rg_lun = response['fb_rg_lun'];
                        var fb_rg_din = response['fb_rg_din'];
                        var fb_snack = response['fb_snack'];
                        var fb_n_snack = response['fb_n_snack'];
                        var fb_fastfood = response['fb_fastfood'];

                        // 등급
                        var alp_grade = "";
                        if (score_meal <= 2) {
                            alp_grade = "C";
                            grade_div.style.backgroundColor = "#FF4D4D";
                        } else if (score_meal <= 5) {
                            alp_grade = "B";
                            grade_div.style.backgroundColor = "#FFBC10";
                        } else if (score_meal <= 8) {
                            alp_grade = "A";
                            grade_div.style.backgroundColor = "#40D0E3";
                        } else {
                            alp_grade = "C";
                            grade_div.style.backgroundColor = "#ffffff";
                        }
                        $('#grade').append(`${alp_grade}`);

                        // 식사 횟수
                        if (fb_num_bf || fb_num_lun || fb_num_din) {
                            var tmp_str = "";
                            if (fb_num_bf) {
                                tmp_str += "아침,";
                            } else if (fb_num_lun) {
                                tmp_str += "점심,";
                            } else if (fb_num_din) {
                                tmp_str += "저녁,";
                            }
                            tmp_str = tmp_str.slice(0, -1);
                            $('#fb_num_meal').append(`${tmp_str} 식사를 잘 거르시는 것 같아요. 식사는 생체 리듬과 건강에 큰 영향을 미친답니다!`);
                            if (fb_num_bf) {
                                $('#fb_num_meal').append(`아침 식사는 뇌의 능률을 향상시킨다고 해요. 또 아침 식사를 거르면 오히려 체중이 는다고도 해요!`);
                            } else if (fb_num_lun) {
                                $('#fb_num_meal').append(`점심 식사를 거르면 보통 저녁 식사에 과식을 하게 된다고 해요! 과일이나 시리얼 같은 음식이라도 점심에 드시는 건 어떨까요?`);
                            } else if (fb_num_din) {
                                $('#fb_num_meal').append(`저녁 식사는 보통 모든 식사 중에서 차지하는 열량이 가장 높답니다!`);
                            }
                        } else {
                            $('#fb_num_meal').append(`삼시세끼 모두 건강하게 잘 챙겨드시고 계시는군요, 대단해요! 이 식습관을 유지해보아요!`);
                        }

                        // 식사 시각
                        var fb_time_bf = "";
                        var fb_time_lun = "";
                        var fb_time_din = "";

                        var avg_h = parseInt(avg_time_bf / 60);
                        var avg_m = parseInt((avg_time_bf - avg_h * 60));
                        $('#avg_time_bf').append(`아침 식사 ${avg_h}시 ${avg_m}분`);

                        avg_h = parseInt(avg_time_lun / 60);
                        avg_m = parseInt((avg_time_lun - avg_h * 60));
                        $('#avg_time_lun').append(`점심 식사 ${avg_h}시 ${avg_m}분`);

                        avg_h = parseInt(avg_time_din / 60);
                        avg_m = parseInt((avg_time_din - avg_h * 60));
                        $('#avg_time_din').append(`저녁 식사 ${avg_h}시 ${avg_m}분`);

                        const bf = document.getElementById("fb_time_bf");
                        const lun = document.getElementById("fb_time_lun");
                        const din = document.getElementById("fb_time_din");
                        
                        if (fb_time_bf_early) {
                            fb_time_bf = "이름";
                            bf.style.color = "#40D0E3";

                        } else if (fb_time_bf_late) {
                            fb_time_bf = "늦음";
                            bf.style.color = "#FF4D4D";
                        } else {
                            fb_time_bf = "적절"
                            bf.style.color = "#FFBC10";
                        }

                        if (fb_time_lun_early) {
                            fb_time_lun = "이름";
                            lun.style.color = "#40D0E3";
                        } else if (fb_time_lun_late) {
                            fb_time_lun = "늦음";
                            lun.style.color = "#FF4D4D";
                        } else {
                            fb_time_lun = "적절";
                            lun.style.color = "#FFBC10";
                        }

                        if (fb_time_din_early) {
                            fb_time_din = "이름";
                            din.style.color = "#40D0E3";
                        } else if (fb_time_din_late) {
                            fb_time_din = "늦음";
                            din.style.color = "#FF4D4D";
                        } else {
                            fb_time_din = "적절";
                            din.style.color = "#FFBC10";
                        }

                        $('#fb_time_bf').append(`${fb_time_bf}`);
                        $('#fb_time_lun').append(`${fb_time_lun}`);
                        $('#fb_time_din').append(`${fb_time_din}`);


                        // 식사 규칙성
                        if (fb_rg_bf || fb_rg_lun || fb_rg_din) {
                            var tmp_str = "";
                            if (fb_rg_bf) {
                                tmp_str += "아침,";
                            } else if (fb_rg_lun) {
                                tmp_str += "점심,";
                            } else if (fb_rg_din) {
                                tmp_str += "저녁,";
                            }
                            tmp_str = tmp_str.slice(0, -1);
                            $('#fb_rg_meal').append(`${tmp_str} 식사를 불규칙적으로 드시고 계셔요. 불규칙적인 식습관은 소화불량 등을 일으킬 수 있다고 해요. 되도록 매일매일 같은 시간에 식사를 해보아요!`);
                        } else {
                            $('#fb_rg_meal').append(`삼시세끼 모두 규칙적으로 챙겨드시고 계시는군요, 대단해요! 이 식습관을 유지해보아요!`);
                        }

                        // 간식, 야식, 간편식
                        if (fb_snack > 0 || fb_n_snack > 0 || fb_fastfood > 0) {
                            var tmp_str = "";
                            if (fb_snack > 0) {
                                tmp_str += "간식,";
                            } else if (fb_n_snack > 0) {
                                tmp_str += "야식,";
                            } else if (fb_fastfood > 0) {
                                tmp_str += "간편식,";
                            }
                            tmp_str = tmp_str.slice(0, -1);
                            $('#fb_snack_and_fastfood').append(`최근 너무 많은 ${tmp_str}을 섭취하셨어요! `);
                            if (fb_snack > 0) {
                                $('#fb_snack_and_fastfood').append(`아무리 건강한 간식이라도 과도하게 섭취하면 비만으로 이어질 수 있어요! 비만은 만병의 근원이라고 하니 간식을 조금 줄이는 걸 추천해요!`);
                            } else if (fb_n_snack > 0) {
                                $('#fb_snack_and_fastfood').append(`야식은 건강을 해치는 안 좋은 습관 중 하나랍니다. 비만으로 이어질 수도 있고, 장기의 건강에도 좋지않아요! 야식은 최대한 피하는 것이 좋아요!`);
                            } else if (fb_fastfood > 0) {
                                $('#fb_snack_and_fastfood').append(`간편식은 종류에 따라 다르지만 추천드리지 않아요. 직접 요리한 음식에 비해 건강하지 않기 때문이에요. 조금 귀찮더라도 간단한 음식이라도 직접 요리해보는 건 어떨까요?`);
                            }
                        } else {
                            $('#fb_snack_and_fastfood').append(`건강한 간식 습관을 실천 중이시군요! 과일과 견과류가 간식으로 정말 좋답니다!`);

                        }

                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }

        window.onload = getMeal();
    </script>
</body>

</html>