<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Medicine</title>
    <style>
    </style>
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');
        if (id == "") {
            location.href = "/";
        }
        function goMain(){
            const link = "/home?id=" + id;
            location.href = link;
        }
        function goCategories(){
            const link = "/categories?id=" + id;
            location.href = link;
        }
    </script>
    <style>
        .title {
            color: #4f2f00;
            font-weight: bold;
            font-size: 20px;
        }

        .gray {
            width: 100%-40px;
            border-radius: 10px;
            background-color: rgba(196, 196, 196, 0.17);
            display: block;
            text-align: left;
            color: #4f2f00;
            font-size: 20px;
            padding: 20px;

        }

        .yellow {
            width: 100%;
            border-radius: 10px;
            background-color: rgba(255, 188, 16, 0.2);
            display: block;
            text-align: left;
            color: #4f2f00;
            font-size: 20px;
            padding: 20px;

        }

        .big_margin {
            margin: 20px 0 0 0;
        }

        .margin {
            margin: 10px 0 0 0;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="header_wrapper">
        <div class="header">
            <img src="static/back.png" width="40" onclick="goCategories()" class="button">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40">
            </a>
            <img width="40"></img>
        </div>
    </div>
    <div class="center_display" style="width: 100%; display: block; text-align: center; padding: 20px 0;"
        id="grade_div">
        <div style="color: #4f2f00; font-weight: bold; font-size: 30px;">투약시간</div>
        <div style="color: #ffffff; font-weight: bold; font-size: 100px;" id="grade"></div>
</div>
<div class="container_wrapper" style="background-color: white;">
    <div class="container">
        <div style="padding:0 20px">

            <div class="title big_margin">
                나의 일일 복용
            </div>

            <div class="gray margin">
                <div class="bold">
                    권장 복용 간격
                </div>
                <div>
                    <strong>4-6</strong> 시간<br>
                </div>
            </div>
            <div class="gray margin">
                <div class="bold" id="recent_med">
                </div>
                <div>
                </div>
            </div>
            <div class="big_margin" style="display: flex; align-items: start; justify-content: center;">
                <div style="margin: 0 10px;"><img src="static/soon_round.png" width="50px" /></div>
                <div class="yellow" id="say">
                </div>
            </div>

            <div class="title big_margin">
                복용 현황
            </div>
            <div class="gray margin">
                <div class="bold">
                    나의 복용 현황
                </div>
                <div id="total">
                    
                </div>

            </div>
            <div class="gray margin">

            </div>
            <div class="big_margin" style="display: flex; align-items: start; justify-content: center;">
                <div style="margin: 0 10px;"><img src="static/soon_round.png" width="50px" /></div>
                <div class="yellow">
                    건강을 위한 한 걸음 한 걸음, 순이와 함께 걸어나가요! 아자!
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function getMedicine() {
            $.ajax({
                type: "GET",
                url: "/get_medicine",
                data: { id: id },
                success: function (response) {
                    if (response['result'] === 'success') {
                        const grade = response['grade'];
                        const grade_div = document.getElementById("grade_div");
                        const recent_med=response['recent_med'];
                        const medAverage=response['medAverage'];

                        $('#grade').append(`${grade}`);
                        if (grade == 'A') {
                            grade_div.style.backgroundColor = "#40D0E3";
                            $('#say').append("약도 잘 챙겨주시네요! 순이가 박수 드릴게요");
                        } else if (grade == 'B') {
                            grade_div.style.backgroundColor = "#FFBC10";
                            $('#say').append("약을 잘 챙겨드시는 건 좋지만, 복용간격이 너무 가까우면 부작용이 있으니 주의해주세요.");
                        } else if (grade == 'C') {
                            grade_div.style.backgroundColor = "#FF4D4D";
                            $('#say').append("아이코, 깜빡하셨나보네요! 약을 눈에 잘 보이는 곳에 두는 것이 어떨까요?");
                        } else {
                            grade_div.style.backgroundColor = "#ffffff";
                            $('#total').append("약을 규칙적으로 챙겨드시면 좋답니다. 순이와 함께 건강한 생활 시작해보시는 거 어때요?");
                        }

                        $('#recent_med').append(`${recent_med}시간`);

                        $('#total').append(`
                            <div style="background-color:#FFBC10; width:${25*medAverage}px; height: 10px; margin:10px 0 0 0">
                            </div>
                            <div>
                                평균 ${medAverage}시간
                            </div>
                            <div style="background-color:#40D0E3; width:${25*recent_med}px; height: 10px; margin:10px 0 0 0">
                            </div>
                            <div>
                                오늘 ${recent_med}시간
                            </div>`);
                    }
                else {
                        alert('정보를 불러오지 못했습니다')
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }

        window.onload = getMedicine();
    </script>
</body>

</html>