<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="static/search_style.css"> -->

    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <title>Wash</title>
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search); return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        const id = getParameterByName('id');
        if (id == "") {
            location.href = "/";
        }
        function goMain() {
            const link = "/home?id=" + id;
            location.href = link;
        }
        function goCategories() {
            const link = "/categories?id=" + id;
            location.href = link;
        }
        function getWash() {
            $.ajax({
                type: "GET",
                url: "/get_wash",
                data: { id: id },
                success: function (response) {
                    if (response['result'] === 'success') {
                        const grade = response['grade'];
                        const grade_div = document.getElementById("grade_div");
                        $('#grade').append(`${grade}`);
                        if(grade=='A'){
                            grade_div.style.backgroundColor = "#40D0E3";
                            $('#say').append(`아주 부시런하시군요!`);
                        }else if(grade=='B'){
                            grade_div.style.backgroundColor = "#FFBC10";
                            $('#say').append(`잘하고 있어요~`);
                        }else if(grade=='C'){
                            grade_div.style.backgroundColor = "#FF4D4D";
                            $('#say').append(`청소 횟수를 늘리면 좀 더 쾌적해질거예요!`);
                        }else{
                            grade_div.style.backgroundColor = "#ffffff";
                        }
                        count=response['clean']+response['wash']+response['fresh'];
                        $('#count').append(`${count}회`);
                    } else {
                        alert('정보를 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }

        window.onload = getWash();

    </script>
    <style>
        .title {
            color: #4f2f00;
            font-weight: bold;
            font-size: 20px;
        }

        .gray {
            width: 100%-40px;
            border-radius: 10px;
            background-color: rgba(196, 196, 196, 0.17);
            display: block;
            text-align: left;
            color: #4f2f00;
            font-size: 20px;
            padding: 20px;

        }

        .yellow {
            width: 100%;
            border-radius: 10px;
            background-color: rgba(255, 188, 16, 0.2);
            display: block;
            text-align: left;
            color: #4f2f00;
            font-size: 20px;
            padding: 20px;

        }

        .big_margin {
            margin: 20px 0 0 0;
        }

        .margin {
            margin: 10px 0 0 0;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="header_wrapper">
        <div class="header">
            <img src="static/back.png" width="40" onclick="goCategories()" class="button">
            <a class="center_display button" onclick="goMain()">
                <img src="static/logo.png" height="40">
            </a>
            <img width="40"></img>
        </div>
    </div>
    <div class="center_display"
        style="width: 100%; display: block; text-align: center; padding: 20px 0;" id="grade_div">
        <div style="color: #4f2f00; font-weight: bold; font-size: 30px;">청결도</div>
        <div style="color: #ffffff; font-weight: bold; font-size: 100px;" id="grade"></div>
    </div>
    <div class="container_wrapper" style="background-color: white;">
        <div class="container">
            <div style="padding:0 20px">
                <div class="title big_margin" onclick="getWash()">
                    나의 주간 평균 청소 횟수
                </div>
                <div class="gray margin">
                    <div class="bold" id="count">
                    </div>
                    <div id="say">
                    </div>
                </div>
                <div class="title big_margin">
                    청소 현황
                </div>
                <div class="gray margin">
                    <div class="bold" id="count">
                    </div>
                    <div id="say">
                    </div>
                </div>
                <div class="gray margin">
                    <div class="bold" id="count">
                    </div>
                    <div id="say">
                    </div>
                </div>
                <div class="gray margin">
                    <div class="bold" id="count">
                    </div>
                    <div id="say">
                    </div>
                </div>
                <div class="big_margin" style="display: flex; align-items: start; justify-content: center;">
                    <div style="margin: 0 10px;"><img src="static/soon_round.png" width="50px" /></div>
                    <div class="yellow">
                        생각처럼 맘이 말을 듣지 않아 돌아와 돌아와 돌아와 절반이 없는데 어떻게 하나로 살아
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getHello() {
            $.ajax({
                type: "GET",
                url: "/hello",
                data: {},
                success: function (response) {
                    if (response['result'] === 'success') {
                        console.log(response);
                        const hello = response['hello'];
                        alert(hello);
                        $('#box').append(`<h6>${hello}<h6>`);
                    } else {
                        alert('프로필을 불러오지 못했습니다');
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }
    </script>
</body>

</html>